<a href="/inventory" class="back-btn">
    <div class="back">
        <img src="/images/arrow.png">
        <p>Back</p>
    </div>
</a>

<% let c = categories.find(cat => cat.category === category) %> 
<h1><%= c.title %> </h1>

<a href="/inventory/new">
    <div class="new-btn">
        <img src="/images/new-item.png">
        <p>New Item</p>
    </div>
</a>

<div class="items-container">
    <% for (let i = 0; i < items.length; i++) { %> 
        <a href='/inventory/<%= category %>/<%= items[i].id %>'>
            <div class="item-card">
                <h2><%= items[i].item %></h2>
                <div class="item-img">
                    <img src=<%= items[i].imageURL %> alt=<%= items[i].item %>> 
                </div>
                <h3>$<%= items[i].price %> </h3>
                <p>Units: <%= items[i].units %> </p>
                <a href="/inventory/<%= category %>/<%= items[i].id %>/edit" class="edit-btn">Edit</a>
            </div>
        </a> 
    <% } %> 
</div>
