<a href="/inventory" class="back-btn">
    <div class="back">
        <img src="/images/arrow.png">
        <p>Back</p>
    </div>
</a>

<% let c = categories.find(cat => cat.category === category) %> 
<h1><%= c.title %> </h1>

<a href="/inventory/<%= category %>/new">
    <div class="new-btn">
        <img src="/images/new-item.png">
        <p>New Item</p>
    </div>
</a>

<div class="items-container">
    <% for (let i = 0; i < items.length; i++) { %> 
        <a href='/inventory/<%= category %>/<%= items[i].id %>'>
            <div class="item-card">
                <h2><%= items[i].item %></h2>
                <div class="item-img">
                    <img src=<%= items[i].imageURL %> alt=<%= items[i].item %>> 
                </div>
                
                <div class="index-price-and-units">
                    <h3>Units: <%= items[i].units %> </h3> 
                    <h3>$<%= items[i].price %> </h3> 
                </div>
                
                <!-- <br>
                <p><a href=<%= items[i].orderURL %> style="font-weight:900;color:#72520d" target="_blank">Click to Order</a></p>  -->

                <br>
                <!-- <p style="font-size:0.8rem; font-style:italic">Last Updated: <%= items[i].updatedAt %> </p> -->
                <div style="display:flex; width: 100%; position: relative">
                    <a href="/inventory/<%= category %>/<%= items[i].id %>/edit" class="edit-btn">Edit</a>
            
                    <form action="/inventory/<%= category %>/<%= items[i].id %>/delete?_method=PUT" method="POST" style="right: 0rem; position: absolute">
                        <input type="submit" value="Remove Item" class="remove-btn">
                    </form>  
                </div>
            </div>
        </a> 
    <% } %> 
</div>
