<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs', {currentUser: currentUser}) %>
    
<div class='main' id='new'>
    <a href="/inventory/<%= category %> " class="back-btn">
        <div class="back">
            <img src="/images/arrow.png">
            <p>Back</p>
        </div>
    </a>

    <h1>Edit Item</h1>
    <form action='/inventory/<%= category %>/<%= item.id %>?_method=PUT' method='POST' id='new-form'>
        <label for='item'>Item Name:</label>
        <input type='text' name='item' id='item' value='<%= item.item %>' >

        <label for='category'>Select a Category:</label>
        <select name='category' id='category'>
            <% for(let i = 0; i < categories.length; i++) { %> 
                <% if(item.category === categories[i].category) { %> 
                    <option value = '<%= categories[i].category %>' selected='selected'> 
                        <%= categories[i].title %> 
                    </option>
                <% } else { %> 
                    <option value = '<%= categories[i].category %>' > 
                        <%= categories[i].title %> 
                    </option>
                <% } %> 
            <% } %> 
        </select>

        <label for='price'>Price ($): </label>
        <input type='number' step="0.01" min='0' name='price' id='price' value='<%= item.price %>' >

        <label for='units'>Units: </label>
        <input type='number' name='units' id='units' value='<%= item.units %>' >

        <label for='qtyPerUnit'>Quantity per Unit: </label>
        <input type='text' name='qtyPerUnit' id='qtyPerUnit' value='<%= item.qtyPerUnit %>' >

        <label for='imageURL'>Image URL: </label>
        <input type='text' name='imageURL' id='imageURL' value='<%= item.imageURL %>' >

        <label for='notes'>Additional Notes: </label>
        <input type='text' name='notes' id='notes' value='<%= item.notes %>' >

        <input type='submit' value='Update Item' class="create-btn">
    </form>

    </div>

<%- include('./partials/footer.ejs') %>