<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="main" id="index">
    <h1>Dashboard</h1>
    <div class="summary">
        <h2>SUMMARY</h2>
        <div class="summary-container">
            <p>No. of Items</p>
        </div>
        <div class="summary-container">
            <p>No. of Containers</p>
        </div>
        <div class="summary-container">
            <p>No. of Items to Restock</p>
        </div>
    </div>
    <div class="categories">
        <% for (let i = 0; i < categories.length; i++) { %> 
            <div class="category-card">
                <a href='/inventory/<%= categories[i].category %>'>
                    <div class="category-img">
                        <img src=<%= categories[i].imageURL %> alt=<%= categories[i].category %>>  
                    </div>
                    <h2><%= categories[i].title %></h2>
                </a>
            </div>       
        <% } %> 
    </div>
        
</div>

<%- include('./partials/footer.ejs') %>