<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="main" id="index">
    <h1>Index Page</h1>
    <div class="categories">
        <% for (let i = 0; i < categories.length; i++) { %> 
            <div class="category-card">
                <a href='/inventory/<%= categories[i].type %>'>
                    <div class="category-img">
                        <img src=<%= categories[i].imageURL %> alt=<%= categories[i].type %>>  
                    </div>
                    <h2><%= titles[i] %></h2>
                </a>
            </div>       
        <% } %> 
    </div>
        
</div>

<%- include('./partials/footer.ejs') %>