<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs', {currentUser: currentUser}) %>
    <div class="main" id="restock">

        <a href="/inventory" class="back-btn">
            <div class="back">
                <img src="/images/arrow.png">
                <p>Back</p>
            </div>
        </a>
        
        <h1>Need to Restock Soon!</h1>
        <h2>Low Inventory! Be sure to order more soon!</h2>

        <div class="restock-container">
            <% for(let i = 0; i < toRestockItems.length; i++) { %>
                <div class="restock-item">
                    <h4> <%= toRestockItems[i].item %> </h4> 
                    <div class="image">
                        <img src=<%= toRestockItems[i].imageURL %> alt=<%= toRestockItems[i].item %>> 
                    </div>
                    <p> Units Left: <%= toRestockItems[i].units %> </p>
                </div>
            <% } %> 
        </div>
    </div>

<%- include('./partials/footer.ejs') %>