<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

    <div class="main">
        <h1><%= item.item %> </h1>
        <p>Price: $<%= item.price %> </p>
        <p>Units: <%= item.units %> </p>
        <p>Quantity per Unit: <%= item.qtyPerUnit %> </p>
        <div class="image">
            <img src=<%= item.imageURL %> alt=<%= item.item %>> 
        </div>
        <p>Notes: <%= item.notes %> </p>
        <p>Last Updated: <%= item.updatedAt %> </p>
    </div>

<%- include('./partials/footer.ejs') %>