<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs', {currentUser: currentUser}) %>
    <div class="main" id="show">
        <a href="/inventory/<%= category %> " class="back-btn">
            <div class="back">
                <img src="/images/arrow.png">
                <p>Back</p>
            </div>
        </a>
        
        <h1><%= item.item %></h1>

        <div class="show-card">

            <div class="image">
                <img src=<%= item.imageURL %> alt=<%= item.item %>> 
                <p><a href=<%= item.orderURL %> style="font-weight:900;color:#72520d" target="_blank">Click here to order now!</a></p>

            </div>
            <div class="right">
                <h3>Price: $<%= item.price %> </h3>
                <h3>Units: <%= item.units %> </h3>
                <p>Quantity per Unit: <%= item.qtyPerUnit %> </p>
                <br>
                <p>Notes: <%= item.notes %> </p>
                <br>
                <p style="font-style: italic;font-size: smaller;">Last Updated: <%= item.updatedAt %></p>
                <!-- <p>Last Updated By: </p> -->
                <br>
                <a href="/inventory/<%= category %>/<%= item.id %>/edit" class="edit-btn">Edit</a>
                <br>
                <!-- DELETE BUTTON -->
                <form action="/inventory/<%= category %>/<%= item.id %>/delete?_method=PUT" method="POST">
                    <input type="submit" value="Remove Item" class="remove-btn" style="margin: 0">
                </form>
            </div>
        </div>
        
    </div>

<%- include('./partials/footer.ejs') %>