<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
    <div class="main" id="show">
        <a href="/inventory/<%= category %> " class="back-btn">
            <div class="back">
                <img src="/images/arrow.png">
                <p>Back</p>
            </div>
        </a>
        
        <h1><%= item.item %></h1>

        <div class="show-card">
            <h3>Price: $<%= item.price %> </h3>
            <h3>Units: <%= item.units %> </h3>
            <p>Quantity per Unit: <%= item.qtyPerUnit %> </p>

            <div class="image">
                <img src=<%= item.imageURL %> alt=<%= item.item %>> 
            </div>

            <p>Notes: <%= item.notes %> </p>
            <p style="font-style: italic">Last Updated: <%= item.updatedAt %> </p>
        </div>
        
    </div>

<%- include('./partials/footer.ejs') %>