<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>
    <div class="main" id="table">

        <a href="/inventory" class="back-btn">
            <div class="back">
                <img src="/images/arrow.png">
                <p>Back</p>
            </div>
        </a>
        
        <h1>Table View</h1>
        
        <div class="filter-btns">
            <button id="all-btn">All</button>
            <button id="produce-btn">Produce</button>
            <button id="meat-btn">Meat</button>
            <button id="pantry-btn">Pantry/Frozen</button>
            <button id="nonfood-btn">Non-Food</button>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <th>Item</th>
                    <!-- <th>Category</th> -->
                    <th>Price</th>
                    <th>Units</th>
                    <th>Quantity per Unit</th>
                    <th>Notes</th>
                </thead>
                <tbody>
                    <% for(let i = 0; i < allItems.length; i++) { %> 
                        <tr class='<%= allItems[i].category %> row' style="display: table-row">
                            <td> <%= allItems[i].item %> </td>
                            <td> <%= allItems[i].price %> </td>
                            <td> <%= allItems[i].units %> </td>
                            <td> <%= allItems[i].qtyPerUnit %> </td>
                            <td> <%= allItems[i].notes %> </td>
                        </tr>
                    <% } %> 
                </tbody>
            </table>
        </div>
    </div>
    <% let items = allItems %> 
    <script src="/script.js">
        let all = "<%= items %>"
        console.log(all)
    </script>

<%- include('./partials/footer.ejs') %>