<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs', {currentUser: currentUser}) %>
    <div class="main" id="trash">

        <a href="/inventory" class="back-btn">
            <div class="back">
                <img src="/images/arrow.png">
                <p>Back</p>
            </div>
        </a>
        
        <h1>Trash</h1>
        <div class="trash-container">
            <% for (let i = 0; i < allItems.length; i++) { %> 
                
                <div class="deleted-item">
                    <h4> <%= allItems[i].item %> </h4>
                    <div class="image">
                        <img src=<%= allItems[i].imageURL %> alt=<%= allItems[i].item %>> 
                    </div>

                    <form action="/inventory/trash/<%= allItems[i].id %>?_method=PUT" method="POST">
                        <input type="submit" value="Restore Item" class="restore-btn">
                    </form>
                    <form>
                        <input type="submit" value="Delete Forever" class="remove-btn">
                    </form>
                </div>
            <% } %> 
        </div>
    </div>
  
<%- include('./partials/footer.ejs') %>